@model IEnumerable<Common.SkillsForce.ViewModel.EnrollmentViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
</style>
<script type="text/javascript" src="
https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
@*
    https://codeseven.github.io/toastr/*@
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


<div class="container-fluid">
    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>*@

    @if (Model != null && Model.Any())
    {

        <div class="table-bordered table-hover table-responsive">

            <table class="table table-striped mx-auto">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EnrollmentID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.TrainingID)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.TrainingName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EnrollmentDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EnrollmentStatus)
                        </th>
                        <th>
                            Approve/Reject
                        </th>
                        <th>Attachments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnrollmentID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TrainingID)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnrollmentStatus)
                            </td>

                            @*<td>
                                    @if (item.EnrollmentStatus != "Approved")
                                    {
                                        <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID">Approve</button>
                                        <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID" disabled>Reject</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID" disabled>Approve</button>
                                        <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID">Reject</button>
                                    }

                                </td>*@

                            <td>
                                @if (item.EnrollmentStatus == "Pending")
                                {
                                    <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID">Approve</button>
                                    <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID">Reject</button>
                                }
                                else if (item.EnrollmentStatus == "Approved")
                                {
                                    <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID" disabled>Approve</button>
                                    <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID">Reject</button>
                                }
                                else if (item.EnrollmentStatus == "Rejected")
                                {
                                    <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID">Approve</button>
                                    <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID" disabled>Reject</button>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-info view-attachments-btn" data-toggle="modal" data-target="#attachmentModal" onclick="showAttachments(@item.EnrollmentID)">View Attachments</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    else
    {
        <div class="container text-center mt-4">
            <div class="alert alert-info" role="alert">
                No enrollments found.
            </div>
        </div>
    }

</div>

<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">View Prerequisite Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="attachmentModalBody"></div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectionModalLabel">Rejection Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="rejectionForm">
                    <div class="form-group">
                        <label for="rejectionReason">Reason for Rejection:</label>
                        <textarea class="form-control" id="rejectionReason" name="rejectionReason" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



@section scripts {
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };


        $(".approve-btn").click(function () {
            var button = $(this);
            var enrollmentId = button.data("enrollment-id");
            console.log(enrollmentId)

            $.ajax({
                url: '/Enrollment/ApproveEnrollment',
                type: 'POST',
                data: { enrollmentId: enrollmentId },
                success: function (result) {
                    if (result.success) {

                        //button.closest('tr').find('td:last-child').html('<span>Approved</span>');
                        button.closest('tr').find('td:eq(7)').html('Approved');

                        button.prop('disabled', true);
                        $(".reject-btn").prop('disabled', false);
                        toastr.success("Enrollment Approved Successfully.");
                    } else {

                        alert('Error approving enrollment: ' + result.message);
                    }
                },
                error: function () {

                    alert('Error approving enrollment.');
                }
            });
        });

        $(".reject-btn").click(function () {
            var button = $(this);
            var enrollmentId = button.data("enrollment-id");

            var userId = parseInt("@HttpContext.Current.Session["UserID"]");

            // Show rejection modal
            $('#rejectionModal').modal('show');

            // Submit rejection reason when the form is submitted
            $('#rejectionForm').submit(function (event) {
                event.preventDefault();

                var rejectionReason = $('#rejectionReason').val();
                console.log(userId)
                $.ajax({
                    url: '/Enrollment/RejectEnrollment',
                    type: 'POST',
                    data: { enrollmentId: enrollmentId, rejectionReason: rejectionReason, declinedByUserId: userId },
                    success: function (result) {
                        if (result.success) {
                            button.closest('tr').find('td:eq(7)').html('Rejected');
                            button.prop('disabled', true);
                            $(".approve-btn").prop('disabled', false);
                            $('#rejectionModal').modal('hide');
                            toastr.success("Enrollment Rejected Successfully.");
                        } else {
                            alert('Error rejecting enrollment: ' + result.message);
                        }
                    },
                    error: function () {
                        alert('Error rejecting enrollment.');
                    }
                });
            });

        });
        //$(".reject-btn").click(function () {
        //    var button = $(this);
        //    var enrollmentId = button.data("enrollment-id");
        //    console.log(enrollmentId)

        //    $('#rejectionModal').modal('show');

        //    $.ajax({
        //        url: '/Enrollment/RejectEnrollment',
        //        type: 'POST',
        //        data: { enrollmentId: enrollmentId },
        //        success: function (result) {
        //            if (result.success) {

        //                //button.closest('tr').find('td:last-child').html('<span>Approved</span>');
        //                button.closest('tr').find('td:eq(7)').html('Rejected');

        //                button.prop('disabled', true);
        //                $(".approve-btn").prop('disabled', false);
        //            } else {

        //                alert('Error rejecting enrollment: ' + result.message);
        //            }
        //        },
        //        error: function () {

        //            alert('Error rejecting enrollment.');
        //        }
        //    });
        //});

        function showAttachments(enrollmentId) {

            console.log(enrollmentId)

            $.ajax({
                url: '/Attachment/GetAllAttachmentByEnrollmentID',
                type: 'GET',
                data: { enrollmentID: parseInt(enrollmentId) },
                dataType: "json",
                success: function (result) {

                    console.log('in success ' + enrollmentId)


                    var attachments = result.result
                    var modalBody = $('#attachmentModalBody');
                    modalBody.empty();

                    for (let i = 0; i < attachments.length; i++) {

                        var attachmentInfo = attachments[i];
                        console.log('in show attach id ' + attachmentInfo.AttachmentID)

                        var downloadButton = $('<button class="btn btn-success download-attachment-btn" data-attachment-id="' + attachmentInfo.AttachmentID + '">Download</button>');

                        modalBody.append('<p>' + attachmentInfo.FileName + '</p>');
                        modalBody.append(downloadButton);

                        downloadButton.click(function () {
                            var attachmentId = $(this).data("attachment-id");

                            window.location.href = '/Attachment/DownloadAttachmentByAttachmentID/' + attachmentId;
                        });
                    }

                    $('#attachmentModal').modal('show');
                },
                error: function (e) {

                    debugger;
                    alert('Error fetching attachments.');
                }
            });
        }



    </script>
}


@*@model IEnumerable<Common.SkillsForce.ViewModel.EnrollmentViewModel>

    @{
        ViewBag.Title = "Index";
    }

    <style>
    </style>*@




@*<div class="container-fluid">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>

        @foreach (var group in Model.GroupBy(item => item.TrainingName))
        {
            <div class="table-bordered table-hover table-responsive mt-4">
                <h3>@group.Key</h3>
                <table class="table table-striped mx-auto">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartmentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentStatus)
                            </th>
                            <th>
                                Approve/Reject
                            </th>
                            <th>Attachments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in group)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentStatus)
                                </td>
                                <td>
                                    @if (item.EnrollmentStatus != "Approved")
                                    {
                                        <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID">Approve</button>
                                        <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID" disabled>Reject</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary approve-btn" data-enrollment-id="@item.EnrollmentID" disabled>Approve</button>
                                        <button class="btn btn-danger reject-btn" data-enrollment-id="@item.EnrollmentID">Reject</button>
                                    }
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info view-attachments-btn" data-toggle="modal" data-target="#attachmentModal" onclick="showAttachments(@item.EnrollmentID)">View Attachments</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>*@