@model IEnumerable<Common.SkillsForce.Entity.TrainingModel>

@{
    ViewBag.Title = "TrainingTest";
}

<h2>TrainingTest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.ActionLink("Enroll", "GetPrerequisiteByTrainingIDTest", new { id = item.TrainingID })

            </td>
        </tr>
    }

</table>

<div class="modal" id="enrollModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title ">Enroll in Training</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="trainingInfo"></p>
                <p>Your User ID: <span id="userIdInfo"></span></p>
                @*<label for="departmentDropdown">Select Department:</label>

                    <select id="departmentDropdown" class="form-control">

                    </select>*@

                <label>You must meet all the following prerequisites:</label>
                <div id="coursesCheckboxList">
                    @if (ViewBag.list != null)
                    {
                        foreach (var prerequisite in ViewBag.list)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@prerequisite.PrerequisiteID" id="prerequisiteCheckbox@prerequisite.PrerequisiteID">
                                <label class="form-check-label" for="prerequisiteCheckbox@prerequisite.PrerequisiteID">@prerequisite.PrerequisiteName</label>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveEnrollment()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>